<ol>
  <% bests.each do |candidate| %>
  <!-- TODO: url_for([:edit, item]) -->
    <li> <%= link_to_if respond_to?("#{candidate.model_name.singular_route_key}_path"), candidate, candidate %> with <b><%= round candidate.average_rating %></b> average rating</li>
  <% end %>
</ol>